/*-------------------------------------------------------------
                    HEADER STYLES
---------------------------------------------------------------*/
.navbar-brand {
	color: snow !important;
	margin: 0;
	font-size: 42px;
	font-family: Pacifico;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
/*------------------------------------------*/
.header
{
	background-color: #f8bc3b;
	height: 250px;
}
.body{
    width: 100%;
	background-color: #f8bc3b;
    height: 400px;
    text-align: center;
    display: block;

}
.input-group-addon {
	width: 100%;
	margin: 0 auto;
	margin-top: 100px;
}
span {
	cursor: pointer;
}
/*----------------------FOOTER--------------------*/

.footer
{
	background-color: #2f2f2f;
	height: 400px;

}
.footer p
{
	color: #fff;
	font-size:  12px;
	text-align: center;
	line-height: 10px;
	margin-top: 10px;
}

.footer img
{
	display: block;
	margin:100px  auto 0;

}
footer 
{
	background-color: #2f2f2f;
	color: antiquewhite;
	text-align: center;
}
.login 
{
	border: 1px solid tan;
	border-radius: 5px;
	padding: 10px;
	width: 300px;
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%,-50%);
	background-color: #393f4a;
}