/*-------------------------------------------------------------
                    HEADER STYLES
---------------------------------------------------------------*/
.navbar-brand {
	color: snow !important;
	margin: 0;
	font-size: 42px;
	font-family: Pacifico;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

/*----------------------banner--------------------*/
.header
{
	background-color: #f8bc3b;
	height: 250px;
}

/*----------------------body--------------------*/
.body
{
    width: 100%;
	background-color: #f8bc3b;
    height: 400px;
    text-align: center;
}
/*----------------------footer--------------------*/
.footer
{
	background-color: #f8bc3b;
    height: 280px;
    text-align: center;
    float: none;
}

.footer h4{
    text-align: center;

}

.registro 
{
	border: 1px solid tan;
	border-radius: 5px;
	padding: 10px;
	width: 400px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background-color: #393f4a;
}